# ==================== GLOBAL VARIABLES AND SYSTEM CONFIG ====================
# ==================== macros/globals.cfg ====================
# Contains all global variables and system-wide configuration settings

[force_move]
enable_force_move: true

[gcode_macro _global_var]
variable_pause_park:{'x': 0, 'y': 0, 'z': 10, 'e': 1}
variable_cancel_park:{'x': 0, 'y': 350, 'z': 10, 'e': 1}
variable_z_maximum_lifting_distance: 345
variable_pause_resume_travel_speed: 150
variable_bed_mesh_calibrate_target_temp: 60
variable_load_filament_extruder_temp: 230
variable_heat_soak_time: 0 # in minutes
gcode:


