[include options/options_config_files.cfg]
[include macros/macros_config_files.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_32FFD8054747393916862257-if00
restart_method: command

[mcu extra_mcu]
serial: /dev/serial/by-id/usb-Klipper_rp2040_3033393834069F92-if00
restart_method: command

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 400
max_accel: 2500
minimum_cruise_ratio: 0.5
max_z_velocity: 20
max_z_accel: 500
square_corner_velocity: 5.0

[stepper_x]
step_pin: PE2
dir_pin: !PE0
enable_pin: !PE3
rotation_distance: 40
microsteps: 64
full_steps_per_rotation:200
endstop_pin: tmc2209_stepper_x: virtual_endstop
position_min: 0
position_endstop: 355
#position_max: 355
position_max: 355
homing_speed: 30
homing_retract_dist: 0
homing_positive_dir: True
#--------------------------------------------------------------------
[tmc2209 stepper_x]
uart_pin: PE1
interpolate: true
run_current: 1.1
sense_resistor: 0.150
stealthchop_threshold: 0
uart_address:3
driver_sgthrs: 85
diag_pin: PE15

[stepper_y]
step_pin: PB8
dir_pin: !PB6
enable_pin: !PB9
rotation_distance: 40
microsteps: 64
full_steps_per_rotation:200
endstop_pin: tmc2209_stepper_y: virtual_endstop
position_min: 0
position_endstop: 364
#position_max: 364
position_max: 364
homing_speed: 30
homing_retract_dist: 0
homing_positive_dir: true
#--------------------------------------------------------------------
[tmc2209 stepper_y]
uart_pin: PB7
interpolate: true
run_current: 1.1
sense_resistor: 0.150
stealthchop_threshold: 0
uart_address:3
driver_sgthrs: 85
diag_pin: PE13

[stepper_z] #motherboard：Z3
step_pin:PC0
dir_pin:PE5
enable_pin:!PC1
rotation_distance: 40
gear_ratio: 80:12
microsteps: 16
endstop_pin: probe:z_virtual_endstop
position_max: 347
position_min: -2
homing_speed: 15.0
homing_retract_dist: 0
homing_retract_speed: 15.0
second_homing_speed: 10.0

[tmc2209 stepper_z]
uart_pin: PE6
interpolate: true
run_current: 0.55
sense_resistor: 0.150
stealthchop_threshold: 999999
uart_address:3

[stepper_z1] ##motherboard：Z1
step_pin:PD3
dir_pin:!PD1
enable_pin:!PD4
rotation_distance: 40
gear_ratio: 80:12
microsteps: 16

[tmc2209 stepper_z1]
uart_pin:PD2
interpolate: true
run_current:  0.55
sense_resistor: 0.150
stealthchop_threshold: 999999
uart_address:3

[stepper_z2] ##motherboard：Z2
step_pin:PD7
dir_pin:PD5
enable_pin:!PB5
rotation_distance: 40
gear_ratio: 80:12
microsteps: 16

[tmc2209 stepper_z2]
uart_pin:PD6
interpolate: true
run_current: 0.55
sense_resistor: 0.150
stealthchop_threshold: 999999
uart_address:3

[stepper_z3] ##motherboard：Z4
step_pin:PD11
dir_pin:!PD9
enable_pin:!PD12
rotation_distance: 40
gear_ratio: 80:12
microsteps: 16

[tmc2209 stepper_z3]
uart_pin:PD10
interpolate: true
run_current: 0.55
sense_resistor: 0.150
uart_address:3
stealthchop_threshold: 999999

[thermistor my_thermistor_e]
temperature1:25
resistance1:110000
temperature2:100
resistance2:7008
temperature3:220
resistance3:435

[extruder]
step_pin: extra_mcu:gpio23
dir_pin: !extra_mcu:gpio24
enable_pin:!extra_mcu:gpio25
rotation_distance: 4.81
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
max_extrude_only_distance: 500
max_extrude_only_velocity: 30
heater_pin:extra_mcu:gpio9
sensor_type: PT1000
pullup_resistor: 2200
sensor_pin: extra_mcu:gpio29
min_temp: 5
max_temp: 500
max_power: 1.0
min_extrude_temp: 5
#control: pid
#pid_kp : 33.838
#pid_ki : 5.223
#pid_kd : 47.752
pressure_advance: 0.025
pressure_advance_smooth_time: 0.03
max_extrude_cross_section: 10

[tmc2209 extruder]
uart_pin: extra_mcu:gpio1
stealthchop_threshold: 0
interpolate: true
run_current: 0.8
hold_current: 0.100
sense_resistor: 0.150
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 7
driver_HEND: 8

[verify_heater extruder]
max_error: 150
check_gain_time:30
hysteresis: 5
heating_gain: 2

[firmware_retraction]
retract_length: 0
retract_speed: 20
unretract_extra_length: 0
unretract_speed: 10

[filament_switch_sensor filament_sensor]
pause_on_runout: True
event_delay: 3.0
pause_delay: 0.5
switch_pin: PE9

[thermistor my_thermistor]
temperature1:25
resistance1:100000
temperature2:50
resistance2:18085.4
temperature3:100
resistance3:5362.6

[heater_bed]
heater_pin:PA0
sensor_type: my_thermistor
sensor_pin: PC5
max_power: 1.0
min_temp: 5
max_temp: 105
#control : pid
#pid_kp : 73.571
#pid_ki : 1.820
#pid_kd : 783.849

[gcode_arcs]
resolution: 1.0

[idle_timeout]
gcode: _IDLE_TIMEOUT
timeout: 600

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp:0
max_temp:100

[temperature_sensor Host_temp]
sensor_type: temperature_host
min_temp: 0
max_temp: 110

[temperature_sensor Toolhead_Temp]
sensor_type: temperature_mcu
sensor_mcu: extra_mcu

[pause_resume]

[exclude_object]

[input_shaper]
damping_ratio_x: 0.047
damping_ratio_y: 0.088
shaper_type_x: zv
shaper_freq_x: 61.8
shaper_type_y: zv
shaper_freq_y: 43

[save_variables]
filename = ~/printer_data/config/saved_variables.cfg

[respond]
default_type: command

#[autotune_tmc stepper_x]
#motor: Shengyang-42BYGH2904-A-24NQ1
#sg4_thrs: 90
#[autotune_tmc stepper_y]
#motor: Shengyang-42BYGH2904-A-24NQ1
#sg4_thrs: 90

#[autotune_tmc stepper_z]
#notor: Shengyang-42BYGH1603-A-20DNT
#[autotune_tmc stepper_z1]
#motor: Shengyang-42BYGH1603-A-20DNT
#[autotune_tmc stepper_z2]
#motor: Shengyang-42BYGH1603-A-20DNT
#[autotune_tmc stepper_z3]
#motor: Shengyang-42BYGH1603-A-20DNT

#[autotune_tmc extruder]
#motor: ldo-36sth20-1004ahg

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [beacon model default]
#*# model_coef = 1.644834238124492,
#*# 	  2.0344632189210934,
#*# 	  0.7378077946046656,
#*# 	  -0.05077459486487639,
#*# 	  0.6802956721255276,
#*# 	  1.6692297008478776,
#*# 	  -1.3081583045211405,
#*# 	  -2.610595667323354,
#*# 	  0.8389833163249756,
#*# 	  1.3596827487918584
#*# model_domain = 1.8643669114569018e-07,1.9309620606576925e-07
#*# model_range = 0.199375,4.999375
#*# model_temp = 27.665579
#*# model_offset = 0.00000
#*#
#*# [heater_bed]
#*# pid_version = 1
#*# pid_target = 60.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 22.762
#*# pid_ki = 0.268
#*# pid_kd = 483.116
#*#
#*# [extruder]
#*# pid_version = 1
#*# pid_target = 170.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 21.828
#*# pid_ki = 5.047
#*# pid_kd = 23.602
